/* PORTADA */
.portadaIndex{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px -120px 25px -120px;
    background-image: url(../img/huellas.png);
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}
 .portadaIndex p{
    background-color: rgb(245, 245, 220);;
} 
.imgPortadaI{
    width: 45%;
    /* margin-bottom: 20px; */
}

/* CONTENIDO */
.index-content h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
    margin: 20px;
}

.info-atencion{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    margin: 20px -140px 25px -140px;
    padding: 40px 0px;
    background-color: rgb(175, 138, 175);
    font-size: 1.2rem;
}
.info-atencion h4{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 10px;
}

/* CONÓZCANOS */
.conozcanos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    padding: 20px;
}
.conozcanos h4{
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.7rem;
}
.conozcanos a{
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    background-color:rgb(175, 138, 175);
    color: black;
}
.imgConozcanos{
    width: 50%;
    padding: 5px;
}
.conozcanos a:hover{
    color: white;
    font-size: 1.4rem;
    padding: 15px 30px;
    transition: 0.5s;
}
.medios-pago{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}
.imgMediosPago{
    width: 30%;
    padding: 30px;
}


/* DISEÑO RESPONSIVE */
@media (max-width: 768px){
    .portadaIndex{
        margin: 0px -70px 25px -70px;
    }
    .index-content h1{
        font-size: 1.7rem;
    }
    .info-atencion{
        flex-wrap: wrap;
        margin: 20px -70px 25px -70px;
    }
    .conozcanos h4{
        font-size: 1.5rem;
    }
}

@media (max-width: 576px){
    .portadaIndex{
        margin: 0px -40px 25px -40px;
    }
    .index-content h1{
        font-size: 1.5rem;
    }
    .info-atencion{
        flex-wrap: wrap;
        margin: 20px -40px 25px -40px;
        padding: 20px 10px;
        font-size: 1rem;
    }
    .info-atencion h4{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .conozcanos h4{
        font-size: 1.2rem;
    }
    .conozcanos a{
        font-size: 1rem;
        padding: 10px 20px;
    }
    .conozcanos a:hover{
        font-size: 1.2rem;
        padding: 15px 25px;
    }
    .medios-pago{
        font-size: 1rem;
        font-weight: 700;
    }
    .imgMediosPago{
        width: 50%;
    }
}